# ignore pycache-folders
__pycache__/
.*/
dist/
_docs/build/
Output/
measurements/*
!measurements/.gitkeep
__*.*
!index.txt
!__init__.py
!TMSiSDK/device/devices/*/measurements/
_docs/source/_autosummary/
!TMSiPlugins/WaveX/wavex/measurements